{% load static %}

<footer class="footer" style="direction: rtl;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <div class="footer-logo">
                    <div class="logo">
                        <img src={% static "images/footer-logo.svg" %} alt="logo">
                    </div>
                </div>

                <div class="footer-text">
                    <h4>در ReservQ، از شما دعوت می کنیم که سفری با طعم و لذت را آغاز کنید. میزهای ما بیشتر است
                        نه فقط مکان ها</h4>
                </div>

                <div class="footer-icon">
                    <div class="icon">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 mol-md-12 ">
                <div class="row">
                    <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="100">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>دسترسی سریع</h3>
                            </div>


                            <div class="quick-line-menu">
                                <ul>
                                    <li>
                                        <a href="dashboard.html">حساب کاربری من</a>
                                    </li>
                                    <li>
                                        <a href="about.html">درباره ما</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">فروشگاه یاب</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">ارسال</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">تحویل</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="200">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>شرایط خصوصی</h3>
                            </div>

                            <div class="quick-line-menu">
                                <ul>
                                    <li>
                                        <a href="trust-safety.html">به ایمنی اعتماد کنید</a>
                                    </li>
                                    <li>
                                        <a href="terms-service.html">شرایط استفاده از خدمات</a>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-delay="300">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>عضویت در خبرنامه</h3>
                            </div>

                            <div class="quick-line-btn">
                                <div class="icon">
                                    <img src={% static "images/sms.png" %} alt="icon">
                                </div>
                                <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="ایمیل شما">
                                <a href="#" class="main-btn-four">اشتراک</a>
                            </div>


                            <div class="quick-line-btn-text">
                                <h6>روش های پرداخت در سایت:</h6>
                            </div>

                            <div class="quick-line-btn-img">
                                <a href="#">
                                    <img src={% static "images/Visa.png" %} alt="img">
                                </a>
                                <a href="#">
                                    <img src={% static "images/Amex.png" %} alt="img">
                                </a>
                                <a href="#">
                                    <img src={% static "images/PayPal.png" %} alt="img">
                                </a>
                                <a href="#">
                                    <img src={% static "images/Mastercard.png" %} alt="img">
                                </a>
                                <a href="#">
                                    <img src={% static "images/GooglePay.png" %} alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</footer>
