{% load static %}

<section class="restaurant" style="direction: rtl;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="restaurant-taitel">
                    <h2>اپلیکیشن هامون واسه راحتیتون</h2>
                    <h4>
                        اگه میخواین بدون هیچ اتلاف وقتی سریع سفارشتون رو ثبت کنید، سریع اپلیکیشنامونو نصب کنین&#128521;
                    </h4>
                </div>

                <div class="restaurant-taitel-btn">
                    <a href="#"> <span>
                            <img src={% static "images/Google_Play.png" %} alt="icon">
                        </span>گوگل پلی</a>
                    <a href="#" class=" restaurant-taitel-btn-two"> <span>
                            <img src={% static "images/apple.png" %} alt="icon">
                        </span> اپ استور</a>
                </div>
            </div>


            <div class="col-lg-6" data-aos="fade-left">
                <div class="restaurant-img-main">
                    <div class="restaurant-img">
                        <img src={% static "images/restaurant.png" %} alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>