{% load static %}
{% load jformat %}
<section class="customer s-padding" style="direction: rtl;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="customer-head mb-48px">
                    <h2>دیدگاه مشتریان ما</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
                <div class="customer-item">

                    <div class="customer-img">
                        <img src={% static "images/customer-icon.png" %} alt="icon">
                    </div>
                    <div class="customer-item-text">
                        <p>"بهشت یک غذاخوری مطلق! طعم ها در
                            ReservQ سمفونی لذت هستند. هر لقمه حکایت از اشتیاق و مهارت دارد. آ
                            برای هر کسی که به دنبال غیرقابل مقایسه است باید از آن بازدید کند."</p>
                    </div>
                </div>

                <div class="customer-inner">
                    <div class="customer-inner-img">
                        <img src={% static "images/customer-1.png" %} alt="img">
                    </div>

                    <div class="customer-inner-text">
                        <div class="icon">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                        </div>

                        <h3>محسن دادار</h3>
                        <h5>دکتر</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 customer-item-res aos-init aos-animate" data-aos="fade-up">
                <div class="customer-item ">

                    <div class="customer-img">
                        <img src={% static "images/customer-icon.png" %} alt="icon">
                    </div>
                    <div class="customer-item-text">
                        <p>
                            "با سلام<br>
                            شاخص ترین ویژگی ReservQ = پشتیبانی سریع<br>
                            با سپاس فراوان و آرزوی موفقیت روز افزون برای شما عزیزان."
                        </p>
                    </div>
                </div>

                <div class="customer-inner">
                    <div class="customer-inner-img">
                        <img src={% static "images/customer-2.png" %} alt="img">
                    </div>

                    <div class="customer-inner-text">
                        <div class="icon">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                        </div>

                        <h3>داوود عارف</h3>
                        <h5>ورشکار</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-lg-block aos-init aos-animate" data-aos="fade-up">
                <div class="customer-item">

                    <div class="customer-img">
                        <img src={% static "images/customer-icon.png" %} alt="icon">
                    </div>
                    <div class="customer-item-text">
                        <p>
                            "بهترین تجربه ام رو از ReservQ داشتم<br>
                            رستوران های بصرفه و نزدیک رو برامون پیدا میکنند و میتونیم براحتی غذا سفارش بدیم<br>
                            مرسی از پشتیبانی خوبتون
                        </p>
                    </div>
                </div>

                <div class="customer-inner">
                    <div class="customer-inner-img">
                        <img src={% static "images/customer-3.png" %} alt="img">
                    </div>

                    <div class="customer-inner-text">
                        <div class="icon">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                            <img src={% static "images/star.svg" %} alt="img">
                        </div>

                        <h3>رضا زمانی</h3>
                        <h5>کارمند</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>