{% load static %}
<!-- Promotions part-start -->
<div class="promotions promotions-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="promotions-img promotions-img-two">
                    <a href="foods-details.html"> <img src={% static 'images/PromoBanner-2.png' %} class="w-100" alt="thumb"></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="promotions-img">
                    <a href="foods-details.html"> <img src={% static 'images/PromoBanner-1.png' %} class="w-100" alt="thumb"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Promotions part-end -->